
.wrapper {
  background-color: #005572;
}

main {
  display: flex;
  min-height: calc(100vh - 60px);
  aside {
    flex-basis: 250px;
    flex-shrink: 0;
  }
  section {
    flex-grow: 1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  &::before {
    content: "";
    display: block;
  }
  .logout {
    color: #666;
    padding: 7px 15px;
    border-radius: 10px;
    transition: .2s ease;
    background-color: white;
    border-color: transparent;
    svg {
      transition: .2s ease;
      margin-right: 10px;
    }
    &:hover {
      color: black;
      box-shadow: 0 1px 4px 4px rgba($color: #000000, $alpha: .1);
      svg {
        color: black;
      }
    }
  }
}

aside {
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    text-align: center;
  }
}

.content {
  padding: 25px;
  background-color: white;
  border-top-left-radius: 25px;
}
